<section class="team">
  <img
    class="team__figure"
    src="img/team-figure.svg"
    alt=""
    aria-hidden="true"
  />
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team__list list-reset grid">
      <li class="team__item">
        <img class="team__img" src="img/teamone.jpg" alt="Виталий Степанов" />
        <strong class="team__subtitle">Виталий Степанов</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/teamtwo.jpg" alt="Виталий Степанов" />
        <strong class="team__subtitle">Виталий Степанов</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/teamthree.jpg" alt="Виталий Степанов" />
        <strong class="team__subtitle">Виталий Степанов</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/teamfour.jpg" alt="Виталий Степанов" />
        <strong class="team__subtitle">Виталий Степанов</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/teamfive.jpg" alt="Виталий Степанов" />
        <strong class="team__subtitle">Виталий Степанов</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__img" src="img/teamsix.jpg" alt="Виталий Степанов" />
        <strong class="team__subtitle">Виталий Степанов</strong>
        <span class="team__post">Администратор</span>
      </li>
    </ul>
  </div>
</section>
